@import "tailwindcss";

@theme {
  --color-dark: #000;
  --color-light: #fff;
  --color-theme: #1c19b5;

  --color-light-gray: #a3b0b5;
}

*,
*::after,
*::before {
  font-family:
    "Segoe UI",
    system-ui,
    -apple-system,
    sans-serif;
}

.compress-text-height {
  transform: scaleY(89%);
}
