@import "tailwindcss";
@import "locomotive-scroll/dist/locomotive-scroll.css";

@theme {
  --color-dark: #000;
  --color-light: #fff;
  --color-theme: #1c19b5;

  --color-light-gray: #a3b0b5;
}

@theme {
<<<<<<< HEAD
  --breakpoint-3xl: 1022px;
=======
  --breakpoint-4xl: 1440px;
  --breakpoint-3xl: 1024px;
>>>>>>> main
  --breakpoint-2xl: 820px;
  --breakpoint-xl: 768px;
  --breakpoint-lg: 425px;
  --breakpoint-md: 375px;
  --breakpoint-sm: 320px;
}

*,
*::after,
*::before {
  font-family:
    "Segoe UI",
    system-ui,
    -apple-system,
    sans-serif;
}

.compress-text-height {
  transform: scaleY(89%);
}
